* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f1f5f8;
  color: #222;
  letter-spacing: 1px;
}
.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}
.book {
  background-color: #fff;
  border: 1rem;
  border-radius: 25px;
  padding: 1rem 2rem;
}
.book:hover{
  transition: ease-in-out;
  transition-duration: 0.20s;
  transform: scale(1.05);
}
.book img {
  border-radius: 20px;
  width: 175px;
  height: 220px;

}
.book h1 {
  margin-top: 0.5rem;
}
.book h4 {
  color: #617d98;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.book p {
    margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(2, 1fr);
  }
}
